<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Finstagram</title>
    <link rel="stylesheet" type="text/css" href="/Users/ariel/dev/labs/sinatra-finstagram/sinatra-finstagram/public/stylesheets/master.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
